.banner li {
  height: 680px;
}
.banner .banner2-box {
  width: 1400px;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
}
.banner .banner2-box .product-box {
  width: 466.66666667px;
  padding: 0;
  box-sizing: border-box;
  float: left;
}
.banner .banner2-box .product-box .pic-box {
  width: 100%;
}
.banner .banner2-box .product-box > a {
  display: block;
  width: 100%;
}
.banner .banner2-box .product-box > a h3 {
  padding: 18px 0 10px;
  font-size: 26px;
  line-height: 28px;
  color: black;
  text-align: center;
}
.banner .banner2-box .product-box > a p {
  padding: 0 0 15px;
  font-size: 17px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}
.banner .banner2-box .product-box > a span {
  display: block;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  padding: 0 0 14px;
  color: black;
}
.banner .banner2-box .product-box .price {
  text-align: center;
}
.banner .banner2-box .product-box .price a {
  display: inline-block;
  width: 110px;
  height: 38px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s;
}
.banner .banner2-box .product-box .price a:hover {
  background-color: #D61B52;
}
