@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-default {
  height: 30px;
  padding: 0;
}
.navbar-default .navbar-collapse a {
  line-height: 30px;
  padding: 0;
  padding-left: 10px;
}
.navbar-default .navbar-collapse li:hover a {
  color: red;
  text-decoration: underline;
}
.navbar-default .navbar-right li {
  margin-right: 20px;
}
.navbar-default .navbar-right .bg-phone {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/img-index/bg-sp3.png) no-repeat -273px -114px;
  color: #333;
  line-height: 28px;
  position: absolute;
  left: -11px;
  top: 2px;
}
ul,
ol {
  list-style: none;
}
/* bg */
.flow-step {
  float: right;
  padding: 2px 0 0;
}
.flow-step li {
  float: left;
  width: 105px;
  padding: 0 14px 0 0;
  background-position: 100% -74px;
  background-color: #e6e6e6;
  font: 14px/36px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  text-align: center;
}
.flow-step .s1 {
  padding: 0 14px;
}
.flow-step .s5 {
  padding: 0;
  background: #e6e6e6;
}
.zlogin li,
.buyer_center span,
.footer .copyright i,
.zp-findmod span {
  background: url(../img/img/feedBack.css) no-repeat;
}
/* header */
.header {
  margin: 0 auto;
  padding: 30px 0;
  width: 960px;
}
.logo {
  float: left;
}
.logo img {
  display: block;
  float: left;
}
.logo span {
  float: left;
  margin: 8px 0 0 8px;
  padding: 0 0 0 10px;
  border-left: 1px solid #e6e6e6;
  font: 14px/44px arial;
  color: #666;
  cursor: pointer;
}
.amount-widget {
  margin: 0 10px 0 0;
  width: 102px;
  height: 48px;
  border: 1px solid #e6e6e6;
}
.zs-increase,
.zs-no-increase,
.zs-decrease,
.zs-no-decrease {
  background: url(http://icon.zol-img.com.cn/newshop/shop/detail/youdian_v1/bg.png) no-repeat;
  float: left;
  width: 28px;
  height: 48px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.zs-goods-number {
  float: left;
  width: 44px;
  height: 48px;
  text-align: center;
  font: 12px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  border: 0 none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  color: #333;
}
.zs-decrease {
  background-position: 0 -155px;
}
.zs-increase {
  background-position: -32px -155px;
}
/* flow-step */
.flow-step-1 .s1,
.flow-step-2 .s2,
.flow-step-3 .s3,
.flow-step-4 .s4,
.flow-step-5 .s5 {
  background-position: 100% -37px;
  background-color: #ccc;
  color: #fff;
}
td {
  width: 110px;
  text-align: center;
}
tr td:nth-of-type(1) {
  width: 780px;
}
.itemlist {
  list-style: none;
  overflow: hidden;
}
.itemlist .item {
  border: 1px solid orange;
  margin: 20px;
  overflow: hidden;
}
.itemlist .item > div {
  float: left;
  margin: 30px 20px;
}
.p-img img {
  width: 100px;
}
.p-title {
  width: 500px;
}
.like {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.like a {
  width: 120px;
  color: black;
  display: block;
  border: 1px solid #ccc;
  border-top: 2px solid #ccc;
  border-bottom: 0;
  background: #fff;
  text-align: center;
  padding: 10px;
}
.like div {
  border: 1px solid #ccc;
  width: 960px;
  height: 33px;
  position: absolute;
  bottom: -32px;
  z-index: -1;
}
footer {
  text-align: center;
  width: 960px;
  margin: 60px auto;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
footer ul {
  padding-left: 250px;
  font-size: 12px;
}
footer li {
  float: left;
}
footer li a {
  margin: 0 10px;
}
footer p {
  font-size: 12px;
}
body,
html {
  font-family: "Helvetica", "PingFangSC-Regular", "Arial", "Times New Roman", "微软雅黑", "Microsoft YaHei", sans-serif;
  color: #000;
  font-size: 14px;
  letter-spacing: 0;
  min-width: 320px;
  min-height: 100%;
}
ol,
ul {
  list-style: none;
}
.footer .footer-container {
  text-align: center;
  padding: 30px;
}
.footer .footer-container .statement {
  font-size: 0;
  margin-bottom: 30px;
}
.footer .footer-container .statement > li {
  margin: 0 10px;
}
.footer .footer-container .statement > li .icon {
  margin-right: 7px;
}
.footer .footer-container .statement > li a {
  margin-right: 3px;
}
.footer .footer-container .statement > li a:last-child {
  margin-right: 0;
}
.footer .footer-container .con-content > ul > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;
  position: relative;
}
.footer .footer-container .con-content > ul > li > a {
  font-size: 12px;
  color: #999;
}
.footer .footer-container .con-content > p {
  font-size: 12px;
  color: #999;
  margin-bottom: 0;
}
.footer .footer-container .con-content > p a {
  color: #999;
  text-decoration: underline;
}
.footer .footer-container .statement > li a,
.footer .footer-container .statement > li span {
  font-size: 12px;
  color: #000;
}
.footer .footer-container .con-content > ul > li > a:hover,
.footer .footer-container .statement > li a:hover {
  text-decoration: underline;
}
.footer .footer-container .con-content > ul,
.footer-simple .footer-container .con-content > ul {
  font-size: 0;
  margin-bottom: 12px;
}
.footer-simple .footer-simple-viation {
  position: relative;
  padding: 0 20px 40px;
  max-width: 1280px;
  margin: 0 auto;
}
.footer-simple .footer-simple-viation .viation-items {
  float: left;
  width: 20%;
  position: relative;
}
.footer-simple .footer-simple-viation .viation-items p {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}
.footer-simple .footer-simple-viation .viation-items p a {
  color: #aaa;
  text-decoration: underline;
}
.footer-simple .footer-simple-viation .viation-items .alipay-way {
  margin-top: 15px;
}
.footer-simple .footer-simple-viation .viation-items .alipay-way i {
  float: left;
  margin-right: 10px;
}
.footer-simple .footer-simple-viation .viation-items .items-title {
  position: relative;
  color: #000;
  margin-bottom: 15px;
  padding-left: 20px;
}
.footer-simple .footer-simple-viation .viation-items .items-title i {
  position: absolute;
  left: 0;
  top: 0;
}
.footer-simple .footer-container {
  text-align: center;
  padding: 30px 40px;
}
.footer-simple .footer-container .statement {
  font-size: 0;
  margin-bottom: 30px;
}
.footer-simple .footer-container .statement > li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.footer-simple .footer-container .statement > li .icon {
  margin-right: 7px;
}
.footer-simple .footer-container .con-content > ul > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;
  position: relative;
}
.footer-simple .footer-container .con-content > ul > li > a {
  font-size: 12px;
  color: #999;
}
.footer-simple .footer-container .con-content > p {
  font-size: 12px;
  color: #999;
  margin-bottom: 0;
}
.footer-simple .footer-container .con-content > p a {
  color: #999;
  text-decoration: underline;
}
.footer-simple .footer-container .statement > li .icon,
.footer-simple .footer-container .statement > li a {
  display: inline-block;
  vertical-align: middle;
}
.footer-simple .footer-container .statement > li a,
.footer-simple .footer-container .statement > li span {
  font-size: 12px;
  color: #000;
}
